/*category plate styles*/
.category-plate .icon.category-wk { background-image: url("/assets/img/app/home/category_icon1.png"); }
.category-plate .icon.category-xh { background-image: url("/assets/img/app/home/category_icon2.png"); }
.category-plate .icon.category-nk { background-image: url("/assets/img/app/home/category_icon3.png"); }
.category-plate .icon.category-mz { background-image: url("/assets/img/app/home/category_icon4.png"); }
.category-plate .icon.category-zz { background-image: url("/assets/img/app/home/category_icon5.png"); }
.category-plate .icon.category-ek { background-image: url("/assets/img/app/home/category_icon6.png"); }
.category-plate .icon.category-pf { background-image: url("/assets/img/app/home/category_icon7.png"); }
.category-plate .icon.category-more { background-image: url("/assets/img/app/home/category_icon_more.png"); }
