/*twinkling keyframes*/
@keyframes twinkling {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/*ball clip rotate keyframes*/
@-webkit-keyframes ball-clip-rotate {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes ball-clip-rotate {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -moz-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes ball-clip-rotate {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -o-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes ball-clip-rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

/*up fadeout keyframes*/
@-webkit-keyframes up-fadeout {
  0% { -webkit-transform: translate(-50%, 0); opacity: 0; }
  50% { -webkit-transform: translate(-50%, -60px); opacity: 1; }
  100% { -webkit-transform: translate(-50%, -120px); opacity: 0; }
}
@-moz-keyframes up-fadeout {
  0% { -moz-transform: translate(-50%, 0); opacity: 0; }
  50% { -moz-transform: translate(-50%, -60px); opacity: 1; }
  100% { -moz-transform: translate(-50%, -120px); opacity: 0; }
}
@-o-keyframes ball-clip-rotate {
  0% { -o-transform: translate(-50%, 0); opacity: 0; }
  50% { -o-transform: translate(-50%, -60px); opacity: 1; }
  100% { -o-transform: translate(-50%, -120px); opacity: 0; }
}
@keyframes up-fadeout {
  0% { transform: translate(-50%, 0); opacity: 0; }
  50% { transform: translate(-50%, -60px); opacity: 1; }
  100% { transform: translate(-50%, -120px); opacity: 0; }
}

/*blur background keyframes*/
@-webkit-keyframes blur-background {
  0% { background-position: 50% 0; }
  12.5% { background-position: 25% 0; }
  25% { background-position: 0% 0; }
  37.5% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  62.5% { background-position: 75% 0; }
  75% { background-position: 100% 0; }
  87.5% { background-position: 75% 0; }
  100% { background-position: 50% 0; }
}
@-moz-keyframes blur-background {
  0% { background-position: 50% 0; }
  12.5% { background-position: 25% 0; }
  25% { background-position: 0% 0; }
  37.5% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  62.5% { background-position: 75% 0; }
  75% { background-position: 100% 0; }
  87.5% { background-position: 75% 0; }
  100% { background-position: 50% 0; }
}
@-ms-keyframes blur-background {
  0% { background-position: 50% 0; }
  12.5% { background-position: 25% 0; }
  25% { background-position: 0% 0; }
  37.5% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  62.5% { background-position: 75% 0; }
  75% { background-position: 100% 0; }
  87.5% { background-position: 75% 0; }
  100% { background-position: 50% 0; }
}
@-o-keyframes blur-background {
  0% { background-position: 50% 0; }
  12.5% { background-position: 25% 0; }
  25% { background-position: 0% 0; }
  37.5% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  62.5% { background-position: 75% 0; }
  75% { background-position: 100% 0; }
  87.5% { background-position: 75% 0; }
  100% { background-position: 50% 0; }
}
@keyframes blur-background {
  0% { background-position: 50% 0; }
  12.5% { background-position: 25% 0; }
  25% { background-position: 0% 0; }
  37.5% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  62.5% { background-position: 75% 0; }
  75% { background-position: 100% 0; }
  87.5% { background-position: 75% 0; }
  100% { background-position: 50% 0; }
}
